
/* Format HTML level elements */
html {
  font-size: 16px;
}

/* Put a border around container elements
.container {
  border: solid black 1px;
} */

/* Format h1 elements */
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* Format h2 elements */
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* Format the page container */
.page {
  max-width: 1050px;
  margin: 0 auto;
}

/* ---------------------------------------------- Header ------------------------------------------ */

/* Make the header a flex container */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 24px;
}

/* Format logo container */
.full-logo {
  height: 32px;
  display: flex;
  align-items: center;
}

/* Display nav items inline */
nav li {
  display: inline-block;
  margin-left: 16px;
}

/* ---------------------------------------------- Common Body Styling ----------------------------- */

/* Format all split section containers */
.split {
  padding: 32px 0 32px 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Format left content of split containers */
.left-content {
  width: 60%;
}

/* Format banner img container */
.main-media-container {
  height: auto;
  overflow: hidden;
}

/* Format banner-img */
.main-media-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* Format aside container */
aside {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 24px;
}

/* Format articles inside aside */
.article {
  display: flex;
  padding: 16px;
}

/* Format articl image container */
.aside-img-container {
  width: 35%;
  height: auto;
  overflow: hidden;
  flex-grow: 1;
}

/* Format article imges inside container */
.aside-img-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* Format the aside text */
.aside-txt {
  width: 65%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Format section titles */
.section-title {
  text-align: center;
  margin: 2rem 0;
}

/* ---------------------------------------------- Banner Section ---------------------------------- */

/* Format outer banner text container */
.banner {
  align-items: center;
}

/* Format banner-text */
.banner-text {
  padding: 16px;
  padding-right: 20%;
}

/* Format the start here button */
#start-button {
  text-align: center;
  display: block;
  padding: 8px;
  background-color: black;
}

/* ---------------------------------------------- Articles ---------------------------------------- */

/* Format lead article h1 spacing */
.lead h1 {
  margin-top: 32px;
}

.lead p:first-of-type {
  margin: 24px 0;
}

/* ---------------------------------------------- Classes Section --------------------------------- */

/* Format classes section */
.classes-section {
  padding: 0 56px;
}

div.classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Format images */
.class img {
  width: 100%;
  height: auto;
}

/* Format each class container */
.class {
  flex-basis: 29%;
  margin: 16px;
}

/* ---------------------------------------------- Footer ------------------------------------------ */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
